@import "./variables.css";

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

h1,
h2,
button {
  font-family: var(--title-font);
  background-color: transparent;
  border: none;
  font-weight: 900;
}

p,
li {
  font-family: var(--content-font);
  font-weight: 600;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

/* Header/ Hero */

section.hero__wrapper {
  background-image: url(../images/mobile/image-header.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  height: 40rem;
}

div.nav-wrapper button {
  background-color: none;
  border: none;
}

div.nav-wrapper {
  display: flex;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

nav.header__nav {
  display: none;
  min-width: 22rem;
}

nav.header__nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}

nav.header__nav--mobile {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 60%;
  height: 10rem;
  display: none;
}

button.nav__contact-button {
  background-color: white;
  padding: 0.5rem 1.25rem;
  border-radius: 2rem;
  font-family: var(--content-font);
  font-size: 1rem;
}

nav.header__nav--mobile ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  padding: 0;
  margin: 0;
}

nav.header__nav--mobile button.nav__contact-button {
  background-color: var(--yellow);
  font-family: var(--title-font);
}

section.hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

section.hero h1 {
  margin-top: 7rem;
  font-size: 2.75rem;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

img.hero-arrow {
  margin-top: 1rem;
  max-width: 3rem;
  height: auto;
}

/* Main Divisions */

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "egg" "brand" "cup" "audience" "design" "photography";
}

section.main-division {
  width: 100%;
  min-height: 20rem;
}

img.main-division__img {
  width: 100%;
}

section.main-division:has(p) {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: fit-content;
}

section.main-division button {
  text-transform: uppercase;
  margin-top: 0.5rem;
  color: var(--very-dark-saturated-blue);
  cursor: pointer;
  font-size: 1.25rem;
}

section.main-division button::after {
  content: "";
  background-color: var(--yellow);
  opacity: 0.3;
  border-radius: 1rem;
  width: 110%;
  height: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  display: block;
  bottom: 0.5rem;
  z-index: -2;
}

section.main-division h2 {
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
  color: var(--very-dark-saturated-blue);
}

section.main-division p {
  color: var(--dark-grayish-blue);
  line-height: 30px;
  font-size: 1.25rem;
  font-weight: 400;
}

section.main-division#egg {
  grid-area: egg;
}

section.main-division#brand {
  grid-area: brand;
}

section.main-division#cup {
  grid-area: cup;
}

section.main-division#audience {
  grid-area: audience;
}

section.main-division#design {
  background-image: url(../images/mobile/image-graphic-design.jpg);
}

section.main-division#photography {
  background-image: url(../images/mobile/image-photography.jpg);
}

section.main-division:nth-last-child(-n + 2) {
  min-height: 40rem;
  background-size: cover;
  background-position: center center;
  justify-content: flex-end;
  background-repeat: no-repeat;
}

section.main-division:nth-last-child(-n + 2) h2,
section.main-division:nth-last-child(-n + 2) p {
  color: var(--dark-desaturated-cyan);
}

/* Depoimentos */

section.client-testimonials-wrapper h2 {
  text-transform: uppercase;
  color: var(--grayish-blue);
  letter-spacing: 0.4rem;
  text-align: center;
  margin-bottom: 3rem;
}

section.client-testimonials-wrapper {
  padding: 2rem;
}

section.client-testimonials {
  display: flex;
  flex-direction: column;
}

div.client {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

img.client__img {
  border-radius: 100%;
  width: 6rem;
  margin-bottom: 1.2rem;
}

p.client-testimonial {
  text-align: center;
  color: var(--very-dark-grayish-blue);
  font-size: 1.3rem;
}

p.client-name {
  font-family: var(--title-font);
  font-size: 1.8rem;
  color: var(--very-dark-saturated-blue);
  font-weight: 900;
  margin-top: 1rem;
  padding: 0;
}

p.client-occupation {
  color: var(--grayish-blue);
  font-weight: 400;
  font-size: 1.2rem;
  margin-top: -1rem;
}

/* Footer */

section.image-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 0;
  column-gap: 0;
}

div.image-grid__img-wrapper {
  width: fit-content;
  height: fit-content;
}

img.image-grid__img {
  width: 100%;
  padding: 0;
  margin: 0;
}

footer {
  width: 100%;
  background-color: var(--dark-moderate-cyan);
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img.footer__logo {
  filter: brightness(0) saturate(100%) invert(27%) sepia(24%) saturate(919%)
    hue-rotate(116deg) brightness(93%) contrast(88%);
  width: 40%;
  margin-bottom: 2rem;
}

footer ul {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 3rem;
}

footer ul li {
  color: var(--dark-desaturated-cyan);
  margin: 0;
}

div.icons-wrapper {
  display: flex;
  justify-content: center;
  gap: 1.3rem;
  padding-bottom: 3rem;
}

@media screen and (min-width: 850px) {
  .header__burguer-button {
    display: none;
  }

  .header__nav--mobile {
    display: none;
  }

  .header__nav {
    display: block !important;
  }

  section.hero__wrapper {
    background-position: center 80% !important;
    height: 65rem !important;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "brand egg" "cup audience" "design photography";
  }

  .main-division h2 {
    font-size: 3rem !important;
  }

  .main-division p {
    font-size: 1.5rem !important;
  }

  .client-testimonials {
    display: flex;
    flex-direction: row !important;
    flex-wrap: nowrap;
    justify-content: space-around;
  }

  div.client {
    max-width: 30%;
  }

  section.image-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  img.footer__logo {
    width: 17rem;
  }

  footer ul li {
    font-size: 1.5rem;
  }
}
